<div class="flex items-center justify-center gap-16">
  <img
    [draggable]="false"
    src="/assets/home-image.svg"
    alt="Two people with a task list and a checked item"
  />
  <div class="">
    <h2 class="font-bold text-6xl mb-4">Simplify Your Life with Tasker 📝</h2>
    <p class="text-xl mb-4 max-w-prose">
      Tasker helps you stay organized and focused, making task management a
      breeze. Take control of your day and accomplish more with ease.
    </p>
    <a [routerLink]="['/tasks']" tuiButton>Get started</a>
  </div>
</div>
