.pending {
  --top-border-color: theme(borderColor.neutral.300);
}

.in-progress {
  --top-border-color: theme(borderColor.yellow.300);
}

.done {
  --top-border-color: theme(borderColor.green.300);
}

.list-group {
  justify-content: safe center;
}
