<div
  *ngIf="filteredTasks$ | async as filteredTasks"
  cdkDropListGroup
  class="flex justify-center gap-12 h-full max-h-[calc(100vh-6rem)]">
  <task-list-kanban
    [taskList]="filteredTasks.pending"
    listTitle="Pending"
    listTaskStatus="PENDING"
    class="pending"></task-list-kanban>
  <task-list-kanban
    [taskList]="filteredTasks.inProgress"
    listTitle="In progress"
    listTaskStatus="IN_PROGRESS"
    class="in-progress"></task-list-kanban>
  <task-list-kanban
    [taskList]="filteredTasks.done"
    listTitle="Done"
    listTaskStatus="DONE"
    class="done"></task-list-kanban>
</div>
