<div class="min-h-screen flex flex-col">
  <header tuiNavigationHeader class="flex justify-between">
    <div tuiNavigationLogo>
      <h1 class="text-xl md:text-2xl ml-2">Tasker 📝</h1>
    </div>

    <div class="flex mr-2">
      <tui-hosted-dropdown [content]="content">
        <button iconLeft="tuiIconMoreHorizontal" tuiIconButton></button>
      </tui-hosted-dropdown>

      <ng-template #content>
        <tui-data-list role="menu">
          <tui-opt-group>
            <a tuiOption routerLink="/user/profile">
              <div class="flex items-center justify-start">
                <tui-svg src="tuiIconUser"></tui-svg>
                Profile
              </div>
            </a>

            <button tuiOption (click)="logout()" class="justify-start">
              <div class="flex items-center justify-start">
                <tui-svg src="tuiIconLogOut"></tui-svg>
                Sign out
              </div>
            </button>
          </tui-opt-group>
        </tui-data-list>
      </ng-template>

      <tui-avatar [rounded]="true" text="teste" size="s"></tui-avatar>
    </div>
  </header>

  <aside class="flex-grow" [tuiNavigationAside]="expanded">
    <header>
      <button
        tuiButton
        [iconLeft]="expanded ? 'tuiIconChevronLeft' : 'tuiIconChevronRight'"
        (click)="toggleExpanded()"
      >
        Collapse
      </button>
    </header>
    <div class="flex flex-col gap-2">
      <a
        tuiButton
        routerLink="/"
        routerLinkActive="active"
        appearance="flat"
        iconLeft="tuiIconHome"
        >Home</a
      >
      <a
        tuiButton
        routerLink="/categories"
        routerLinkActive="active"
        appearance="flat"
        iconLeft="tuiIconTag"
        >Categories</a
      >
      <a
        tuiButton
        routerLink="/tasks"
        routerLinkActive="active"
        appearance="flat"
        iconLeft="tuiIconCheckSquare"
        >Tasks</a
      >
    </div>
  </aside>

  <main>
    <router-outlet />
  </main>
</div>
