<div *ngIf="user$ | async as user" class="min-h-screen">
  <header tuiNavigationHeader class="flex justify-between">
    <div tuiNavigationLogo>
      <h1 class="text-xl md:text-2xl ml-2">Tasker 📝</h1>
    </div>

    <div class="flex gap-2 mr-2">
      <tui-hosted-dropdown [content]="content">
        <button iconLeft="tuiIconMoreHorizontal" tuiIconButton></button>
      </tui-hosted-dropdown>

      <ng-template #content>
        <tui-data-list role="menu">
          <a tuiOption routerLink="/user/profile" class="justify-start">
            <tui-svg src="tuiIconUser"></tui-svg>
            Profile
          </a>

          <button tuiOption (click)="logout()" class="justify-start">
            <tui-svg src="tuiIconLogOut"></tui-svg>
            Log out
          </button>
        </tui-data-list>
      </ng-template>

      <tui-avatar
        [rounded]="true"
        [text]="user.firstName"
        size="s"></tui-avatar>
    </div>
  </header>

  <div class="flex">
    <aside class="sidebar" [tuiNavigationAside]="expanded">
      <header>
        <button
          tuiButton
          [iconLeft]="expanded ? 'tuiIconChevronLeft' : 'tuiIconChevronRight'"
          (click)="toggleExpanded()">
          Collapse
        </button>
      </header>
      <div class="flex flex-col gap-2">
        <a
          tuiButton
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          appearance="flat"
          iconLeft="tuiIconHome"
          >Home</a
        >
        <a
          tuiButton
          routerLink="/categories"
          routerLinkActive="active"
          appearance="flat"
          iconLeft="tuiIconTag"
          >Categories</a
        >
        <a
          tuiButton
          routerLink="/tasks"
          routerLinkActive="active"
          appearance="flat"
          iconLeft="tuiIconCheckSquare"
          >Tasks</a
        >
      </div>
    </aside>

    <main tuiNavigationMain>
      <div class="py-6">
        <router-outlet />
      </div>
    </main>
  </div>
</div>
