@if (vm$ | async; as vm) {
  <div class="flex flex-col min-[680px]:flex-row gap-8 justify-center">
    <category-table
      [categories]="vm.categories"
      [selectedCategory]="vm.selectedCategory"
      [categoryStatus]="vm.categoryStatus"
      (categorySelected)="handleCategorySelect($event)"
      (categoryDelete)="handleCategoryDelete($event)" />
    <create-category-form
      #categoryForm
      [category]="vm.selectedCategory"
      [saving]="vm.savingCategory"
      (cancel)="handleFormCancel()"
      (categorySubmit)="handleCategorySubmit($event)" />
  </div>
}
