@if (taskOperationStatus$ | async; as tasksStatus) {
  <h2 class="font-bold text-3xl">{{ listTitle }}</h2>
  <ul
    cdkDropList
    [cdkDropListData]="taskList"
    (cdkDropListDropped)="onDrop($event)"
    class="relative flex grow overflow-y-auto py-2 flex-col gap-4 w-96 task-list">
    @if (tasksStatus !== "LOADING") {
      @for (task of taskList; track task.id) {
        <task-list-card cdkDrag [task]="task" />
      } @empty {
        <span
          class="absolute min-w-max top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 font-bold text-xl text-neutral-600/65">
          Your task list is empty
        </span>
      }
    } @else if (tasksStatus === "LOADING") {
      <div
        *tuiRepeatTimes="let i of 6"
        [tuiSkeleton]="true"
        class="rounded-3xl min-h-52 max-h-52"></div>
    }
  </ul>
  <button (click)="newTask()" class="mx-8" tuiButton iconLeft="tuiIconPlus">
    New task
  </button>
}
