<div tuiCardLarge tuiSurface="elevated">
  <h3 class="font-bold text-xl">{{ categoryFormHeader }}</h3>
  <form
    class="w-full flex flex-col gap-4"
    [formGroup]="categoryForm"
    (ngSubmit)="submitCategory()">
    <tui-input formControlName="name">
      Name
      <input tuiTextfield />
    </tui-input>

    <tui-input
      [maskito]="colorMask"
      [tuiTextfieldCustomContent]="color"
      formControlName="color">
      Background color
    </tui-input>
    <ng-template #color>
      <input
        class="color"
        [value]="categoryForm.value.color"
        formControlName="color"
        type="color"
        (click.stop)="(0)"
        (mousedown.stop)="(0)" />
      <tui-svg appearance="icon" src="tuiIconPaintLarge" tuiWrapper></tui-svg>
      <hr
        class="color-indicator"
        [style.background]="categoryForm.value.color" />
    </ng-template>

    <div class="flex gap-3">
      <button
        class="flex-1"
        iconLeft="tuiIconCheck"
        [disabled]="saving || categoryForm.invalid"
        [loading]="saving"
        tuiButton
        size="m"
        type="submit">
        Save
      </button>
      <button
        class="flex-1"
        iconLeft="tuiIconX"
        tuiButton
        size="m"
        (click)="cancelSubmit()"
        type="button">
        Cancel
      </button>
    </div>
  </form>
</div>
